<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:http auto-config="true" create-session="stateless">
		<!-- requires-channel="https" -->
		<security:intercept-url pattern="/school/**"
			access="ROLE_SCHOOL_ADMIN,ROLE_ADMIN" />
		<security:http-basic />
	</security:http>

	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="11" />
	</bean>

	<authentication-manager alias="authenticationManager"
		xmlns="http://www.springframework.org/schema/security">
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource" />
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>


	<!-- Authenticating staff -->
	<authentication-manager alias="customAuthenticationManager"
		xmlns="http://www.springframework.org/schema/security">
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>

	<bean id="customAuthenticationProvider"
		class="attendanceapp.staff.authenticationprovider.UserAuthenticationProvider">
	</bean>


	<security:http entry-point-ref="basicAuthEntryPoint"
		pattern="/schoolrealm/**">
		<security:intercept-url pattern="/schoolrealm"
			access="ROLE_STAFF" />
		<security:custom-filter ref="basicAuthenticationFilter"
			after="BASIC_AUTH_FILTER" />
	</security:http>

	<bean id="basicAuthEntryPoint"
		class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
		<property name="realmName" value="REST Realm" />
	</bean>

	<bean id="basicAuthenticationFilter"
		class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
		<property name="authenticationManager" ref="customAuthenticationManager" />
		<property name="authenticationEntryPoint" ref="basicAuthEntryPoint" />
	</bean>

</beans>